.newpost {
    margin: 40px 120px 120px 400px;
}

.nameAndAvatar {
    margin: 40px auto 60px auto;
}

.select {
    margin: 40px auto 60px auto;
}

.file-input {
    margin: 40px auto 60px auto;
}

.submit {
    margin: 40px auto 60px auto;
}